<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Pl2Spread - Home</title>
  </head>
  <body>
    <p><strong>Playlist 2 Spreadsheet</strong></p>
    <p>paste playlist link here or <a href="http://www.spotify.com">log in</a> with spotify.</p>
    <form name="pl2spread_form" action="{% url 'pl2spread:create_spreadsheet' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>what to include in spreadsheet</h1></legend>
            <input type="text" name="playlist_url" id="playlist_url">
            <label for="playlist_url">playlist url</label><br>
            {% for field in all_field_names %}
            <input type="checkbox" name="{{field}}" id="field_{{ forloop.counter }}" value="{{field}}">
            <label for="field_{{ forloop.counter }}">{{ field }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Preview">
    </form>
  </body>
</html>